name: CI/CD
on:
  push:
    
    

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
       # Build Docker image
      - name: Build Docker image
        run: docker build -t my-backend:latest ./Lab4
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
           username: ${{ secrets.DOCKERHUB_USERNAME }}
           password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Push image to Docker Hub
      - name: Push Docker image
        run: docker tag my-backend:latest ${{ secrets.DOCKERHUB_USERNAME }}/my-backend:latest
      - run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-backend:latest
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/my-backend:latest
            docker run -d --name my-backend -p 80:80 ${{ secrets.DOCKERHUB_USERNAME }}/my-backend:latest





