name: CI/CD
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /home/ahmed/Final_project/Devsecops_tasks/Lab4
            git pull origin main
            docker stop backend || true
            docker rm backend || true
            docker build -t my-backend .
            sudo docker run -d -p 8000:8000 --name backend my-backend




